.huksy{
    background-image: url(/images/huskysprite10.png) !important;
}
.article{
    position:relative;
    box-sizing: border-box;
    width: 80%;
    margin:0 auto;
    padding: 20px 10px;
    font-size: 18px;
    line-height: 2;
    color:#000;
    background-color:#f5f6f7;
    border-radius: 5px;
    box-shadow: 3px 0 8px rgb(237, 241, 243),0px 0 4px rgb(224, 241, 245);
    overflow: hidden;
}
/*新增*/
.article .title{
    margin: 0 auto;
    padding:0 8px 4px;
    width: fit-content;
   text-align: center;
   font-size: 22px;
}
/*字数、发布时间*/
.article .art_infor{
    display: flex;
    flex-direction:column;
    margin-top: 15px;
    width: 100%;
    font-size: 17px;
    text-align: center;
    color: #78818a;
    border-bottom: 2px dashed rgb(233, 219, 142);
}
.article .art_infor div span{
    display: inline-block;
    margin-left:5px;
}
.article .art_infor span .icon-riqi{
    color: #00c9fc;
}
.article .art_infor span .icon-zishu-jzl{
color:#3b32ff;
}
.article .art_infor span .icon-zuixinnew3{
color:#fa3636;
}
.article .art_infor span .icon-shijian{
    color:#ffc965;
}
.article .art_infor .iconfont{
    font-size: 18px;
    font-weight: 600;
    padding: 0px 5px;
}

.art_content{
    box-sizing: border-box;
    font-size: 15px;
}
/*告示栏，有四种样式，蓝色引号引用，黄色灯泡启迪，红色感叹号警示，绿色气球，紫色风车(看着像手里剑)*/
.art_content .broadcast{
    position: relative;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: .6rem 16px .5rem 32px;
    border-radius: 4px;
    background: #f6f6f6;
    border-left: 4px solid #767676;
}

.art_content .color-red{
    background: #f3e3e4;
    border-color: #ff7675;
}
.art_content .color-red>.icon-gantanhao{
    font-size: 20px;
    color:#fa3636;
}

.art_content .color-blue{
    background: #e8f4fd;
    border-color: #2196f3;
}
.art_content .broadcast>.icon-yinhao{
    color:#2196f3;
}

.art_content .color-green{
    background: #dbf3ec;
    border-color: #2ed573;
}
.art_content .broadcast>.icon-qiqiu{
    font-size: 20px;
    color:#2ed573;
}

.art_content .color-yellow{
    background: #fff8e9;
    border-color: #ffbd2b;
}
.art_content .broadcast>.icon-dengpao14hao{
    font-size: 22px;
    color:#ffbd2b;
}

.art_content .color-purple{
    background: #ede5f7;
    border-color: #990af8;
}
.art_content .broadcast>.icon-fengche{
    font-size: 22px;
    color:#990af8;
}
.art_content .color-pink{
    background: #f3b9da69;
    border-color: #FC427B;
}
.art_content .broadcast>.icon-yinle1{
    font-size: 22px;
    color:#FC427B;
}
/*文章小标题*/
.art_content h1{
    font-size: 22px;
    width: 100%;
    text-align: center;
}
.art_content h2{
    position: relative;
    margin-top:20px;
    padding:2px 15px;
    width: 80%;
    font-size: 18px;
    transform: translateX(-11px);
    background:linear-gradient(to right,rgba(3, 215, 253, 0.582),#f5f6f7);
    color:rgb(0, 0, 0);
    transition: all .5s ease;
}
.art_content h2:hover{
    transform: translateX(-4px);
}
.art_content h2::before,.article h2::after{
    content: '';
    position: absolute;
    top:14%;
    left:-8px;
    width: 8px;
    height: 7px; 
    background-color: rgba(3, 215, 253, 0.582);
}
.art_content h2::after{
    top:62%;
   }

.art_content h3{
    margin-top:20px;
    margin-bottom:8px;
    position: relative;
    font-size: 22px;
    color:#282c34;
    transition: all .5s ease;
}
.art_content h3::before{
    content:'#';
    font-size: 30px;
    color:#00c9fc;
    margin-right: 10px;
    transition: all 1s linear;
}
.art_content h3:hover{
    transform: translateX(5px);
}
.art_content h4{
    position: relative;
    margin-left: 16px;
    margin-top: 10px;
    font-size: 19px;
}
.art_content h4::before{
    content: '';
    position: absolute;
    top:3px;
    left:-15px;
    width: 7px;
    height: 80%;
}
.art_content h4:nth-of-type(4n+1)::before{
    background: linear-gradient(to right,#ff4757,#fff);
}
.art_content h4:nth-of-type(4n+2)::before{
    background: linear-gradient(to right,#25CCF7,#fff);
}
.art_content h4:nth-of-type(4n+3)::before{
    background: linear-gradient(to right,#32ff7e,#fff);
}
.art_content h4:nth-of-type(4n+4)::before{
    background: linear-gradient(to right,#ff65f6,#fff);
}
.art_content h5{
    margin-top: 14px;
    margin-left: 11px;
    font-size: 17px;
    color:#373d4d;
}
.art_content h6{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 15px;
}
.art_content p{
       text-indent: 2em;
       word-wrap: break-word;
   }
.art_content ul,.art_content ol{
       width: 90%;
       margin:8px 0 0 30px;
       line-height: 30px;
   }
.art_content ul li{
    width: 100%;
    list-style:disc;
    font-family: sans-serif;
}
.art_content ol li{
    width: 100%;
    list-style-type:decimal;
    font-family: sans-serif;
}

.art_content .code{/*自定义的代码块，无高亮*/
    padding: 0px 0px 0px 20px;
    width: 90%;
    height: max-content;
    margin:4px 0px 4px 10px;
    white-space:pre;
    background-color: #282c34;
    color: #abb2bf;
    overflow-x: auto;
    overflow-y: hidden;
}
.art_content .strong{/*行内块元素，代码、指令加粗*/
    margin:0 8px;
    color:#1e4752;
    font-weight: 800;
}
.art_content .tips{/*行内块元素，带背景色、字体色的行内提示*/
    padding: 2px 4px;
    background: rgba(27,31,35,.05);
    color: #f48266;
}
.art_content .formula{/*块级元素，用于展示公式*/
    width: 100%;
    text-align: center;
    margin: 15px 0px;
}
.art_content .show{/*块级元素，用于展示代码结果*/
    width: 90%;
    margin: 15px 0px 15px 10px;
    padding: 0px 0px 0px 20px;
    background-color: #dcdde1;
    border: 1px solid #c8cfd6;
}
.table{/*表格*/
    overflow-x: scroll;
    margin: 0 0 20px;
}
.table table {
    display: table;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    empty-cells: show;
}
.table table thead {
    background: rgba(153,169,191,.1);
}
.table table td,.table table th {
    padding: 6px 12px;
    border: 1px solid #dbd7d7;
    vertical-align: middle;
    text-align: center;
} 
.art_content img{
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 60%;
}
/*下一页按钮*/
.post-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 80%;
    color:#fff;
} 
.post-nav div{
    margin-top: 0px;
    position:relative;
    padding:7px 10px;
}

.post-nav a{
    font-size: 17px;
    color:rgb(94, 113, 133);
}
.post-nav div::before,
.post-nav div::after{
    content:'';
    position: absolute;
    width: 0px;
    height: 3px;
    bottom:0px;
    background-color: #00c9fc;
    transition: width .5s linear ;
}
.post-nav div::before{
    left:50%;
}
.post-nav div::after{
    right:50%;
}
.post-nav div:hover::before,
.post-nav div:hover::after{
    width: 50%;
}

/*睡觉熊*/
.container{
 margin:20px auto;
 position:relative;
height:230px;
width: 20%;
box-sizing: border-box;
}
.container::before{
    content:'';
    position:absolute;
    bottom:25px;
    left:0px;
    width: 80%;
    height: 8px;
    background-color:burlywood;
    border-radius: 50%;
}
.container div{
 position:absolute; 
}
.container div::before,
.container div::after{
 content:'';
 position:absolute;
 display: block;
}
.bigHead{
 background-color: #A78A7F;
 height: 35px;
 width: 76px;
 bottom: 32px;
 left:8px;
 border-radius: 100%;
}
.bigHead::before{
height: 61px;
width: 61px;
left:26px;
bottom: 0px;
border-radius: 90% 50% 90% 90%;
transform: rotate(226deg);
background-color: #594a41;
z-index: 1;
/* z-index: 99; */
}
.ears{
height: 21px;
width: 21px;
border-radius: 100%;
left: 53px;
top: 123px;
box-shadow: 17px -2px 0 0 #594a41;
background-color: #594a41;
}
.body{
height: 75px;
width: 165px;
left:47px;
bottom:29px;
border-radius:50%;
background:#594a41;
}
.paws-front{
height: 25px;
width: 50px;
bottom: 27px;
left:73px;
border-radius: 80% 22% 55% 50% / 55% 22% 80% 50%;
transform: rotate(11deg);
background: #A78A7F;
z-index: 1;
}
.paws-back{
height: 26px;
width: 50px;
bottom: 29px;
left:153px;
border-top-left-radius: 100%;
background:#A78A7F;
z-index: 2;
}
.paws-back::after{
height: 26px;
width: 25px;
border-radius: 100%;
left:34px;
background:#A78A7F;
}
.details{
width: 13px;
height: 13px;
left:5px;
bottom: 52px;
border-radius: 100%;
box-shadow: 58px 0 0 #AD5D4E;
z-index: 20;
background:#221e22;
}
.details::after{
width: 11px;
height: 11px;
border-bottom: 3px solid #221e22;
border-top:5px solid transparent;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-radius: 100%;
left:35px;
top:-18px;
z-index: 100;
}
.tail{
height: 25px;
width: 25px;
background:#594a41;
border-radius: 100%;
left:186px;
top:127px;
}
.sleep {
height: 90px;
width: 80px;
position: absolute;
left: 30px;
top: 20px;
font-size: 34px;
}

.sleep span {
width: 15px;
height: 10px;
display: block;
font-family: arial;
font-weight: bold;
text-align: center;
line-height: 20px;
background: #221e22bb;
animation: zz 3s linear infinite;
}

.sleep .s1 {
margin-left: 71px;
margin-top: 50px;
}

.sleep .s2 {
margin-left: 36px;
margin-top: -8px;
}

.sleep .s3 {
margin-left: -5px;
margin-top: -7px;
}

.sleep .s4 {
margin-left: -43px;
margin-top: 15px;
}

.sleep .s5 {
margin-left: -53px;
margin-top: 28px;
}

@keyframes zz {
0% {
opacity: 0;
transform: scale3d(.2, .2, .2) rotate(-20deg);
}
50% {
opacity: 1;
}
80% {
transform: translateY(-30px) translateX(20px) rotate(10deg);
opacity: 0;
}
100% {
opacity: 0;
}
}
pre{
    position: relative;
    background-color: #4b5355;
    border-radius: 3px;
    margin: 10px 0 15px 0px;
}
pre>span{
            position:absolute;
            right:5px;
            top:0px;
            padding:0px 6px;
            border:1px solid #111;
            box-sizing:border-box;
            border-radius: 5px;
            color:rgb(189, 189, 189);
            background-color: rgb(61, 53, 53);
            cursor: pointer;
          }
.copyBox{
              position: absolute;
              /* bottom: -100px; */
              visibility: hidden;
          }


@media screen and (max-width:1100px) {
    .container{
        width: 40%;
    }
    .article{
        width: 90%;
    }
}
@media screen and (max-width: 420px){
    .pen{
        background-size: 60% 60%;
        background-repeat: no-repeat;
    }
    .article .art_infor{
        font-size:12px;
    }
    .article .art_infor div span{
        margin-left: 0px;
    }
    .article{
        width: 100%;
    }
    .art_content .code{
        width: 100%;
        margin-left: 0px;
        word-wrap: normal;
        overflow-x: auto;
    }
    .art_content img{
    width: 95%;
    height: 95%;
}
    .post-nav{
        flex-direction: column;
        font-size: 18px;
        align-items: flex-start;
    }
    .container{
        width: 70% !important;
    }

}